n8n/workflows/email_parser.json
{
  "name": "Email Parser for Schedule Requests",
  "nodes": [
    {
      "parameters": {
        "protocol": "imap",
        "imapHost": "={{ $env.EMAIL_IMAP_HOST }}",
        "imapPort": 993,
        "imapUser": "={{ $env.EMAIL_USER }}",
        "imapPassword": "={{ $env.EMAIL_PASSWORD }}",
        "mailbox": "INBOX",
        "options": {
          "markSeen": true,
          "downloadAttachments": true,
          "filter": {
            "unseen": true,
            "subject": "Schedule Request"
          }
        }
      },
      "id": "email-trigger",
      "name": "Email Trigger (IMAP)",
      "type": "n8n-nodes-base.emailReadImap",
      "typeVersion": 2,
      "position": [250, 300]
    },
    {
      "parameters": {
        "functionCode": "// Parse schedule request email into structured fields\nreturn items.map(item => {\n  const email = item.json ?? {};\n  const fromAddress = email.from?.value?.[0]?.address ?? email.from ?? '';\n  const subject = email.subject ?? '';\n  const body = email.text ?? email.html ?? '';\n\n  const extractField = (pattern, text) => {\n    if (!text) {\n      return null;\n    }\n    const match = text.match(pattern);\n    return match ? match[1].trim() : null;\n  };\n\n  const normalizedSubject = subject.replace(/^(Re:|Fwd:|Schedule Request:)/i, '').trim();\n  const taskName =\n    extractField(/Task Name[:\\s]+(.+?)(?:\\n|$)/i, body) ??\n    extractField(/Subject[:\\s]+(.+?)(?:\\n|$)/i, body) ??\n    normalizedSubject;\n\n  const priority = extractField(/Priority[:\\s]+(high|medium|low)/i, body)?.toLowerCase() ?? 'medium';\n\n  const dueDate =\n    extractField(/Due Date[:\\s]+(.+?)(?:\\n|$)/i, body) ??\n    extractField(/Deadline[:\\s]+(.+?)(?:\\n|$)/i, body) ??\n    null;\n\n  const description =\n    extractField(/Description[:\\s]+([\\s\\S]+?)(?:\\n\\n|$)/i, body) ??\n    body.substring(0, 500);\n\n  const assignee = extractField(/Assign(?:ed)? To[:\\s]+(.+?)(?:\\n|$)/i, body);\n  const category = extractField(/Category[:\\s]+(.+?)(?:\\n|$)/i, body) ?? 'general';\n\n  let duration = null;\n  const durationMatch = body.match(/Duration[:\\s]+(\\d+)\\s*(hours?|minutes?|days?)/i);\n  if (durationMatch) {\n    const value = Number.parseInt(durationMatch[1], 10);\n    if (!Number.isNaN(value)) {\n      const unit = durationMatch[2].toLowerCase().replace(/s$/, '');\n      duration = { value, unit };\n    }\n  }\n\n  const dependencies = [];\n  const depsMatch = body.match(/Depends On[:\\s]+(.+?)(?:\\n|$)/i);\n  if (depsMatch) {\n    depsMatch[1]\n      .split(/[,;]/)\n      .map(dep => dep.trim())\n      .filter(Boolean)\n      .forEach(dep => dependencies.push(dep));\n  }\n\n  return {\n    json: {\n      ...item.json,\n      source: 'email',\n      from: fromAddress,\n      task_name: taskName,\n      description,\n      priority,\n      due_date: dueDate,\n      assignee,\n      category,\n      duration,\n      dependencies,\n      raw_email: {\n        subject,\n        from: fromAddress,\n        date: email.date ?? null,\n      },\n      attachments: email.attachments ?? [],\n    },\n  };\n});\n"
      },
      "id": "parse-email",
      "name": "Parse Email Content",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [470, 300]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.task_name }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "validate-parsed-data",
      "name": "Validate Parsed Data",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [690, 300]
    },
    {
      "parameters": {
        "url": "={{ $env.API_BASE_URL }}/api/tasks/create",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "name",
              "value": "={{ $json.task_name }}"
            },
            {
              "name": "description",
              "value": "={{ $json.description }}"
            },
            {
              "name": "priority",
              "value": "={{ $json.priority }}"
            },
            {
              "name": "due_date",
              "value": "={{ $json.due_date }}"
            },
            {
              "name": "assignee",
              "value": "={{ $json.assignee }}"
            },
            {
              "name": "category",
              "value": "={{ $json.category }}"
            },
            {
              "name": "duration",
              "value": "={{ $json.duration }}"
            },
            {
              "name": "dependencies",
              "value": "={{ $json.dependencies }}"
            },
            {
              "name": "source",
              "value": "email"
            },
            {
              "name": "created_from_email",
              "value": "={{ $json.from }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {
          "timeout": 15000
        }
      },
      "id": "http-create-task",
      "name": "Create Task via API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [910, 200]
    },
    {
      "parameters": {
        "functionCode": "// Flag invalid emails for review\nreturn items.map(item => ({\n  json: {\n    ...item.json,\n    status: 'skipped',\n    reason: 'Invalid email format - missing required task name',\n    email: item.json?.raw_email ?? {},\n  },\n}));\n"
      },
      "id": "log-invalid-email",
      "name": "Log Invalid Email",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [910, 400]
    },
    {
      "parameters": {
        "authentication": "oauth2",
        "resource": "message",
        "operation": "send",
        "toEmail": "={{ $json.from }}",
        "subject": "Re: {{ $json.raw_email.subject }}",
        "message": "=Your schedule request has been received and processed.\n\n**Task Created:**\n- Name: {{ $json.task_name }}\n- Priority: {{ $json.priority }}\n- Due Date: {{ $json.due_date || 'Not specified' }}\n- Task ID: {{ $json.task_id }}\n\nYou can track the progress of this task in the scheduler system.\n\nBest regards,\nAutomated Scheduler System"
      },
      "id": "send-confirmation-email",
      "name": "Send Confirmation Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [1130, 200]
    },
    {
      "parameters": {
        "authentication": "oauth2",
        "resource": "message",
        "operation": "send",
        "toEmail": "={{ $json.email.from }}",
        "subject": "Re: {{ $json.email.subject }} - Unable to Process",
        "message": "=We received your email but were unable to process it as a schedule request.\n\nPlease ensure your email includes:\n- Task Name or clear subject line\n- Description of the task\n- (Optional) Priority: high/medium/low\n- (Optional) Due Date\n- (Optional) Assignee\n\nExample format:\n```\nTask Name: Update documentation\nDescription: Update the API documentation with new endpoints\nPriority: medium\nDue Date: 2025-12-31\nAssigned To: John Doe\n```\n\nPlease resend your request with the required information.\n\nBest regards,\nAutomated Scheduler System"
      },
      "id": "send-error-email",
      "name": "Send Error Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [1130, 400]
    }
  ],
  "connections": {
    "Email Trigger (IMAP)": {
      "main": [
        [
          {
            "node": "Parse Email Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Email Content": {
      "main": [
        [
          {
            "node": "Validate Parsed Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Parsed Data": {
      "main": [
        [
          {
            "node": "Create Task via API",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Invalid Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Task via API": {
      "main": [
        [
          {
            "node": "Send Confirmation Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Invalid Email": {
      "main": [
        [
          {
            "node": "Send Error Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-12-17T00:00:00.000Z",
  "versionId": "1"
}
